<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

                <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

                    <script src="https://kit.fontawesome.com/92c15939e4.js" crossorigin="anonymous"></script>
                    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

                    <!-- fonts style -->
                    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

                        <!--owl slider stylesheet -->
                        
                        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

                        <!-- fonts style -->
                        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

                            <!--owl slider stylesheet -->
                            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

                            <!-- font awesome style -->
                            <link href="css/font-awesome.min.css" rel="stylesheet" />

                            <!-- Custom styles for this template -->
                            <link href="css/style.css" rel="stylesheet" />
                            <!-- responsive style -->
                            <link href="css/responsive.css" rel="stylesheet" />
    </head>
    <body>
    <li><a href="/admin/adminPanel">adminPanel</a></li>
    <li><a style="color: #ffbd59;" th:text="${nombreUsuario}"></a></li>
    <li><a style="color: #ffbd59;" href="/logout"><span class="logout-icon">Cerrar sesión</span></a></li>
        <div>Welcome to the Aurora marble admin panel, here you can modify some items of the main page</div>
    </body>
</html>
